a{
    text-decoration: none;
    color: black;
}

.body {
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 260px, 300px);
    background-color: #e1e8f0;
    background-image: url("../bilder/rom.jpg");
    background-size: 100% auto;

  }

.bodyartikkel {
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 260px, 300px);
    background-color: #e1e8f0;
    background-image: url("../bilder/rom.jpg");
    background-size: 100% auto;

  }



ul li{
    list-style: none;
}

main > article{

}

/* Elsker stygge farger */

.farge{
    color: white;
}

.burgunder{
    background-color: #bd8c7d;
}

.bla{
    background-color: #6ed3cf;
    opacity: 0.7;
    border: solid 1px black;
}

.hvit{
    background-color: white;
}

.indexartikkel{
    width: 250px;
    margin: 1em auto;
    padding: 10px;
    text-align: center
}


aside{
    position: relative;
}
aside section{
    border: solid 1px black;
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 1em auto;
}

aside section a{
    padding: 10px;
    font-size: 15px;
}

.header {
    grid-column: 1 / 5;
    text-align: center;
    font-size: 20px;
    background-image: url("../bilder/kukk.jpeg");
    background-size: 100% auto;
    border: solid 1px black;
    grid-row: 1 ;

}

img{
    height: 80%;
}
.nav{
    border: solid 1px black;
    grid-column: 1 / 5 ;
    grid-row: 2;
    text-align: center;
    background-color: #9068be;
}

nav a{
    width: 150px;
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}



.main {
    grid-column: 1 / 3 ;
    grid-row: 3 ;
    /*border: solid 1px black;*/
    display: inline-flex;
    flex-wrap: wrap;
    grid-template-rows: 2fr;
    margin: 1em;
    padding: 10px;
}

.mainartikkel{
    margin-top: 1em;
    padding: 10px;
    grid-column: 1 / 2 ;
    grid-row: 3 ;
    /*border: solid 1px black;*/
    display: inline-flex;
    flex-wrap: wrap;
    grid-template-rows: 2fr;
}

.footer{
    grid-column: 1 / 5;
    grid-row: 7;
    border: solid 1px black;
    text-align: center;
    background-color: #3a4660;
    margin-bottom: 10px;
}

.sidebox {
    grid-column: 3 / 5;
    grid-row: 3 / span 4;
    /*border: solid 1px black;*/


}