body{
    width: 100%
}


header{
    display: none;
}

nav{
    display: none;
}

article img{
    display: none;
}

aside section{
    padding-bottom: 0px;

}

a[href]:after{
    content: " [" attr(href) "] ";
    display: block;
}